version: '2.4'

services:
  postgresql:
    container_name: postgresql
    image: postgres:9.6-alpine
    environment:
      POSTGRES_USER: sysdba
      POSTGRES_DB: sysdba
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD-postgresql}
      TZ: 'America/Sao_Paulo'
    volumes:
       - ./files2docker/scripts:/scripts
       - ${LOCAL_PGDATA-./files2docker/databases}:/var/lib/postgresql/data
       - ${BACKUP_PATH-./files2docker/backup}:/backup
    ports:
      - ${POSTGRES_PORT-5432}:5432
    restart: unless-stopped
